**/target

.vscode

# Cert & Generated manifests
.cert

manifests/01-buildkitd-certs.yaml
manifests/01-judger-certs.yaml

# Some demo sources
examples/*_demo.rs

# Packaged binary pack.
package

# Mirror related-settings
/.cargo/config
/script/setup-mirror.sh
