**/target

.vscode

# Cert & Generated manifests
.cert

manifests/01-buildkitd-certs.yaml
manifests/01-judger-certs.yaml
manifests/01-ingress-tls.yaml
manifests/01-registry-ingress.yaml

# Some demo sources
examples/*_demo.rs
