BasedOnStyle: LLVM
PointerAlignment: Right
IndentWidth: 2
MaxEmptyLinesToKeep: 1
ObjCSpaceAfterProperty: true
ObjCBlockIndentWidth: 4
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignTrailingComments: true
SpacesInSquareBrackets: false
SpacesInParentheses: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: true
BreakConstructorInitializersBeforeComma: true
AllowAllParametersOfDeclarationOnNextLine: true
SpaceAfterCStyleCast: true
TabWidth: 2
UseTab: Never
